body {
    background-image: url('./bloquinPreto.png');
    height: 100vh;
    width: 100vw;
    animation: mexerBack 20s linear infinite;
}

@keyframes mexerBack {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }

}