.GrandaoBisteca {
    height: 6000px;
    background-color: brown;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

* {
    padding: 0px;
    margin: 0px;
}


.RolarAmburguer {
    width: 50%;
    position: sticky;
    background-color: rgb(255, 22, 22);
    top: 0px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes desceAmborg {
    0% {
scale: 0.1;
    }
    100% {
scale: 1;
    }
    
}
@keyframes flexDoBurgao {
    0% {
        transform: translateX(-800px) translateY(-50px);
        scale: 1;
    }
    100% {
        transform: translateX(800px) translateY(50px);
        scale: 2;
    }
    
}

.RolarAmburguer > div {
    animation: flexDoBurgao linear;
    animation-timeline: scroll();
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

      /* ponto de rotação fica bem longe, criando o movimento circular */
    will-change: transform, opacity;
    animation-range: 50% 80%;
}

.RolarAmburguer > div > img {
    height: 100%;
}
.Anuncio {
    width: 50%;
    position: sticky;
    height: 1000px;
    top: 0;   
    align-self: flex-start;   
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.Anuncio>p {
    font-size: xx-large;
    font-weight: 800;
    text-align: left;
}


.DivPreco {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.buttonPreco {
    padding: 15px 20px;
    border-radius: 90px;
    width: 150px;
    background-color: transparent;
    border: 1px green solid;
    font-size: medium;

}

.DivPreco>img {
    height: 70%;
}

.Anuncio>img:nth-child(1) {
    animation: cair 700ms ease-out forwards;
    animation-timeline: scroll();
    position: absolute;
    /* ponto de rotação fica bem longe, criando o movimento circular */

    top: 50px;
    left: 70px;
    width: 70%;
    will-change: transform, opacity;

    transform-origin: center bottom;
    animation-range: 40% 100%;
}

.Anuncio>img:nth-child(2) {

    animation: cair 700ms ease-out forwards;
    animation-timeline: scroll();
    position: absolute;
    /* ponto de rotação fica bem longe, criando o movimento circular */

    top: 50px;
    left: 70px;
    width: 70%;
    will-change: transform, opacity;

    transform-origin: center bottom;
    animation-range: 20% 60%;
}


@keyframes cair {
    0% {
        transform: perspective(800px) rotateX(90deg);
        opacity: 0;
    }

    50% {
        transform: perspective(800px) rotateX(0deg);
        opacity: 1;
    }

    100% {
        transform: perspective(800px) rotateX(-90deg);
        opacity: 1;
    }
}